:root {
  --silver: rgb(121, 22, 202);
  --outer-space: #4c5b61ff;
  --battleship-gray: #829191ff;
  --battleship-gray-2: rgb(23, 11, 131);
  --dark-slate-gray: #2c423fff;

  --primary: rgb(42, 92, 168);
  --primary-light: rgb(21, 11, 82);
  --primary-dark: rgb(9, 5, 66);
  --primary-contrast: #ffffff;
  --primary-muted: rgb(19, 7, 124);
}